<mat-toolbar color="primary">

  <button  mat-button
    (click)="inicio()" >
    <span>Cloud Arch</span>
  </button>
  <span class="example-spacer"></span>

  <button  mat-button
    (click)="irPapelera()" >
    <span>Papelera</span>
  </button>
  <span class="example-spacer"></span>

  <button  mat-button
    (click)="irCrearEmpleado()" >
    <span>Creacion de Empelados</span>
  </button>
  <span class="example-spacer"></span>
  <button  mat-button
  (click)="funcionEmpleado()" >
  <span>Funcionalidad de Empelados</span>
</button>
<span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="fileMenu">{{this.nombreUsuario}}</button>
  <mat-menu #fileMenu="matMenu">
    <button  mat-menu-item (click)="cerrarSesion()">Cerrar Sesion</button>
  </mat-menu>
</mat-toolbar>
