<app-header-empleado></app-header-empleado>
<div class="container">
  <form class="form-container" #f = "ngForm">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Informacion</mat-card-title>
        <mat-card-subtitle>Cambio de Constrasenia</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <hr />

        <div class="row">
          <div class="col-md-6">
            <label for="nombre" class="mt-5 d-flex justify-content-center">
              Nombre de Empelado
            </label>
            <input
              type="text"
              class="form-control mt-2"
              placeholder="Nombre de Empeleado"
              name="identificador_prodcuto"
              [(ngModel)]='nombre'
              required
            />
          </div>
          <div class="col-md-6">
            <label for="nombre" class="mt-5 d-flex justify-content-center">
              Password de Empelado
            </label>
            <input
              type="text"
              class="form-control mt-2"
              placeholder="Password de Empelado"
              name="password"
              [(ngModel)]='password'

              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

            <label for="nombre" class="mt-5 d-flex justify-content-center">
              Repita la Constrasenia
            </label>
            <input
               type="text"
              class="form-control mt-2"
              placeholder="Repticion de Constrasenia de Empleado"
              name="passwordOtrave"
              [(ngModel)]='otraVezPassword'
              required
            />
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col-md-6">
        <button mat-raised-button  color="primary" (click)="cambioPassword()">Actualizar</button>
      </div>

        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
